$_main_color: #ffffff;
$_main_bg_color: #0b334b;

$_color_dark_blue: #0b334b;
$_color_blue: #164866;
$_color_yellow: #f4bf11;
$_color_coral: #f47261;
$_color_orange: #ee9c20;

$_font-family: 'Lora', sans-serif;
$_second-family: 'Lilita One', sans-serif;
