<div class="cookie-popup">
  <div class="container cookie-popup-container">
    <div class="cookie-title-text-wrap">
      <h2 class="cookie-popup-title">Our Cookies Policy</h2>

      <p class="cookie-popup-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
    </div>

    <ul class="cookie-popup-buttons-list">
      <li class="cookie-popup-buttons-item">
        <button class="cookie-btn cookie-accept">Accept cookies</button>
      </li>
      <li class="cookie-popup-buttons-item">
        <button class="cookie-btn cookie-decline">Decline cookies</button>
      </li>
    </ul>
  </div>
</div>
