<section class="features section" id="features">
  <div class="container">
    <h2 class="section-title">Features</h2>
    <ul class="features-list">
      <li class="feature-item">
        <div class="thumb">
          <picture>
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/features/features1-powers-mob.jpg    1x,
                ../img/features/features1-powers-mob-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/features/features1-powers-desk.jpg    1x,
                ../img/features/features1-powers-desk-2x.jpg 2x
              "
            />
            <img
              src="../img/features/features1-powers-desk.jpg"
              alt="powers"
              class="feature-img"
              width="50px"
              height="50px"
            />
          </picture>
        </div>
        <div class="feature-description">
          <h3 class="feature-title">Explosive Powers:</h3>
          <p class="feature-text">
            Destroy blocks with the Bomb Block and clear entire rows with the
            Line Blaster.
          </p>
        </div>
      </li>

      <li class="feature-item">
        <div class="thumb">
          <picture>
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/features/features2-strategic-mob.jpg    1x,
                ../img/features/features2-strategic-mob-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/features/features2-strategic-desk.jpg    1x,
                ../img/features/features2-strategic-desk-2x.jpg 2x
              "
            />
            <img
              src="../img/features/features2-strategic-desk.jpg"
              alt="strategic"
              class="feature-img"
              width="50px"
              height="50px"
            />
          </picture>
        </div>
        <div class="feature-description">
          <h3 class="feature-title">Strategic Gameplay:</h3>
          <p class="feature-text">
            Swap pieces with Queen’s Grace and rotate blocks with Twist & Turn.
          </p>
        </div>
      </li>

      <li class="feature-item">
        <div class="thumb">
          <picture>
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/features/features3-challenges-mob.jpg    1x,
                ../img/features/features3-challenges-mob-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/features/features3-challenges-desk.jpg    1x,
                ../img/features/features3-challenges-desk-2x.jpg 2x
              "
            />
            <img
              src="../img/features/features3-challenges-desk.jpg"
              alt="challenges"
              class="feature-img"
              width="50px"
              height="50px"
            />
          </picture>
        </div>
        <div class="feature-description">
          <h3 class="feature-title">Daily Challenges:</h3>
          <p class="feature-text">
            Complete special puzzles to earn exclusive rewards.
          </p>
        </div>
      </li>

      <li class="feature-item">
        <div class="thumb">
          <picture>
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/features/features4-leaderboards-mob.jpg    1x,
                ../img/features/features4-leaderboards-mob-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/features/features4-leaderboards-desk.jpg    1x,
                ../img/features/features4-leaderboards-desk-2x.jpg 2x
              "
            />
            <img
              src="../img/features/features4-leaderboards-desk.jpg"
              alt="leaderboards"
              class="feature-img"
              width="50px"
              height="50px"
            />
          </picture>
        </div>
        <div class="feature-description">
          <h3 class="feature-title">Leaderboards:</h3>
          <p class="feature-text">
            Compete with players worldwide and rise to the top.
          </p>
        </div>
      </li>

      <li class="feature-item">
        <div class="thumb">
          <picture>
            <source
              media="(max-width: 1199px)"
              srcset="
                ../img/features/features5-relaxing-mob.jpg    1x,
                ../img/features/features5-relaxing-mob-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/features/features5-relaxing-desk.jpg    1x,
                ../img/features/features5-relaxing-desk-2x.jpg 2x
              "
            />
            <img
              src="../img/features/features5-relaxing-desk.jpg"
              alt="relaxing"
              class="feature-img"
              width="50px"
              height="50px"
            />
          </picture>
        </div>
        <div class="feature-description">
          <h3 class="feature-title">Relaxing Yet Engaging:</h3>
          <p class="feature-text">No time limits—just pure strategy and fun!</p>
        </div>
      </li>
    </ul>
  </div>
</section>
