<footer class="footer">
  <div class="footer-container container">
    <a class="footer-logo-link" href="./index.html">
      <img
        class="footer-logo-img"
        srcset="
          ./img/footer/footer-logo.png    1x,
          ./img/footer/footer-logo@2x.png 2x
        "
        src="./img/footer/footer-logo.png"
        alt="footer logo"
        width="75"
        height="75"
    /></a>

    <div class="footer-list-text-wrap">
      <ul class="footer-list">
        <li class="footer-item">
          <a class="footer-link" href="./privacy-policy.html">Privacy Policy</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="./terms-and-conditions.html">
            Terms & Conditions
          </a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="./cookies-policy.html">Cookie Policy</a>
        </li>
      </ul>

      <p class="footer-text">
        All rights reserved puzzleroyal.site |
        <span class="current-year"></span>
      </p>
    </div>
  </div>
</footer>
