<section class="section home">
  <div class="container">
    <img
      class="home-logo"
      srcset="./img/home/logo_500_500_2x.png 2x, ./img/home/logo_500_500.png 1x"
      src="./img/home/logo_500_500.png"
      alt="logo"
      width="280"
      height="280"
    />
    <div>
      <h1 class="main-title">Royal Block Puzzle</h1>
      <h2 class="hero-subtitle">Master the Art of Strategy!</h2>
      <a
        class="btn-pmarket"
        href="https://play.google.com/store/apps/details?id=com.oengines.block.tetris&hl=en&gl=us "
        target="_blank"
        rel="noopener noreferrer"
        >Google Play</a
      >
    </div>
  </div>
</section>
