<section class="achivements section">
  <div class="container">
    <h2 class="section-title">Player Achievements</h2>
    <p class="achivements-desc">
      Meet the top players of <strong>Royal Block Puzzle!</strong> These
      champions have reached incredible high scores, discovered hidden
      strategies, and dominated leaderboards. Will you be next?
    </p>

    <ul class="players-list">
      <li class="player">
        <div class="player-thumb">
          <img
            srcset="
              ./img/achievements/rosy-2x.jpg 2x,
              ./img/achievements/rosy.jpg    1x
            "
            src="./img/achievements/rosy.jpg"
            alt="Rosy"
          />
          <h3 class="player-name" data-text="Rosy">Rosy</h3>
        </div>
        <p class="player-rank">1 700 000 coins</p>
      </li>

      <li class="player">
        <div class="player-thumb">
          <img
            srcset="
              ./img/achievements/jack-2x.jpg 2x,
              ./img/achievements/jack.jpg    1x
            "
            src="./img/achievements/jack.jpg"
            alt="Jack Black"
          />
          <h3 class="player-name" data-text="Jack Black">Jack Black</h3>
        </div>
        <p class="player-rank">1 520 000 coins</p>
      </li>

      <li class="player">
        <div class="player-thumb">
          <img
            srcset="
              ./img/achievements/genry-2x.jpg 2x,
              ./img/achievements/genry.jpg    1x
            "
            src="./img/achievements/genry.jpg"
            alt="Genry"
          />
          <h3 class="player-name" data-text="Genry">Genry</h3>
        </div>
        <p class="player-rank">1 380 000 coins</p>
      </li>
    </ul>
  </div>
</section>
