.section {
  padding: 16px 0;

  @include media(desktop) {
    padding: 48px 0;
  }
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1200px;
    padding: 0 60px;
  }
}

.main-title {
  @include font(48, 58);
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  color: $_color_yellow;
  text-align: center;
  margin-top: 24px;

  @include media(desktop) {
    @include font(88, 106);
    margin-top: 0;
  }
}

.section-title {
  @include font(32, 38);
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  color: $_color_yellow;
  text-align: center;

  @include media(desktop) {
    @include font(64, 77);
  }
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 65px;
}
