.footer {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #131432;

  @include media(desktop) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footer-container {
  @include media(desktop) {
    padding-left: 124px;
    padding-right: 124px;
    display: flex;
    column-gap: 188px;
  }
}

.footer-logo-link {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.footer-list-text-wrap {
  @include media(desktop) {
    padding-top: 15px;
  }
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2px;
  margin-bottom: 16px;

  @include media(desktop) {
    max-width: 427px;
  }
}

.footer-item:not(:last-child)::after {
  content: '|';
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $_main_color;
}

.footer-link,
.footer-text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: $_main_color;

  @include media(desktop) {
    font-size: 16px;
  }
}
