.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $_color_blue;
  border-radius: 0 0 10px 10px;
  padding-top: 8px;
  padding-bottom: 8px;

  @include media(desktop) {
    border-radius: 0;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    justify-content: flex-start;
    gap: 10px;
  }
}

.header-logo {
  @include media(desktop) {
    width: 50px;
    height: 50px;
  }
}

.header-burger-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  transition: transform 250ms linear;

  @include media(desktop) {
    display: none;
  }
}

.header-burger-menu-btn:hover,
.header-burger-menu-btn:focus {
  transform: scale(1.05);
}

.header-nav {
  display: none;

  @include media(desktop) {
    display: block;
    width: 100%;
  }
}

.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid $_color_yellow;
  border-radius: 20px;
  padding: 8px 12px;
  font-family: $_font-family;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: $_color_yellow;
  transition: border-color 250ms linear, background-color 250ms linear;
}

.header-nav-link:hover,
.header-nav-link:focus {
  border-color: transparent;
  background-color: $_color_dark_blue;
}

.header-nav-link:active {
  background-color: $_color_yellow;
  color: #000;
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9999;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms linear, visibility 250ms linear;

  @include media(desktop) {
    display: none;
  }
}

.mobile-menu-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 225px;
  background-color: $_color_blue;
  border-radius: 20px 0 0 20px;
  box-shadow: -4px 3px 7px 0 #222;
  padding: 20px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  transition: transform 250ms linear;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  transform: scale(1.05);
}

.mobile-menu-list {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.mobile-menu-link {
  font-family: 'Lora', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: $_color_yellow;
}
