:root {
  // font-family: 'Lilita One', sans-serif;
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  @include font(14, 18);
  color: $_main_color;
  background-color: $_main_bg_color;

  @include media(desktop) {
    @include font(24, 30);
  }
}

@import './base.scss';
@import './header.scss';
@import './home.scss';
@import './game-overview.scss';
@import './features.scss';
@import './how-to-play.scss';
@import './behind-the-pixels.scss';
@import './player-achivements.scss';
@import './easter-eggs.scss';
@import './developers-corner.scss';
@import './footer.scss';
